#
# This source file is part of the Spatial Continuity project
#
# SPDX-FileCopyrightText: 2024 Paul Heidekrüger
#
# SPDX-License-Identifier: MIT
#

.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
